---
layout: default
---

{% include tag_collector.html tag_separator=',' %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }} 
</div>

{% if page.comments %}
<!-- <div id="post-disqus" class="container"> -->
<!-- {% include disqus.html %} -->
  <!-- </div> -->
<div id="post-utterance" class="container">
{% include utterance.html %}
</div>
{% endif %}

<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
      </li>
    {% endfor %}
  </ul>
</div>
